{% extends 'index.html' %}
{% block title %}
<title>Essence - Fashion World | Profile</title>
{% endblock %}
{% block body %}
<div class="container-fluid mt-5 p-5"> <!-- container-fluid py-3-->
    <div class="row">
        <div class="col-md-6">
            {% if data.pic %}
            <img src="{{data.pic.url}}" style="height: 545px;" widtd="100%" alt="">
            {% else %}
            <img src="/static/img/core-img/turkish.jpg" style="height: 510px;" widtd="100%" alt="">
            {% endif %}
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <td>Name</td>
                    <td>{{data.name}}</td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td>{{data.username}}</td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td>{{data.email}}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{data.phone}}</td>
                </tr>
                <tr>
                    <td>Address Line 1</td>
                    <td>{{data.addressline1}}</td>
                </tr>
                <tr>
                    <td>Address Line 2</td>
                    <td>{{data.addressline2}}</td>
                </tr>
                <tr>
                    <td>Address Line 3</td>
                    <td>{{data.addressline3}}</td>
                </tr>
                <tr>
                    <td>PIN</td>
                    <td>{{data.pin}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{data.city}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{data.state}}</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/update-profile" class="btn btn-primary btn-sm w-100">Update Profile</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h5 class="text-center">Wishlist Section</h5>
    {% if wishlist %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            {% for item in wishlist %}
            <tr>
                <td><img src="{{item.product.pic1.url}}" style="height:80px;width:80px;" class="rounded" alt=""></td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.maincategory}}/{{item.product.subcategory}}/{{item.product.brand}}</td>
                <td>{{item.product.color}}</td>
                <td>{{item.product.size}}</td>
                <td><del>&#8377;{{item.product.baseprice}}</del><sup>&#8377;{{item.product.finalprice}}
                        @{{item.product.discount}}% off</sup></td>
                <td><a href="/single-product/{{item.product.id}}/"><span class="material-symbols-outlined">
                            add_shopping_cart
                        </span></a></td>
                <td><a href="/delete-to-wishlist/{{item.id}}/"><span class="material-symbols-outlined">
                            delete_forever
                        </span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <h5 class="text-center border p-2">No items in wishlist</h5>
    {% endif %}

    <h5 class="text-center">Order History Section</h5>
    <div class="row">
        {% for item in orders %}
        <div class="col-lg-4 col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Order Id</th>
                        <td>{{item.checkout.id}}</td>
                    </tr>
                    <tr>
                        <th>Order Status</th>
                        <td>{{item.checkout.get_orderStatus_display}}</td>
                    </tr>
                    <tr>
                        <th>Payment Status</th>
                        <td>{{item.checkout.get_paymentStatus_display}}</td>
                    </tr>
                    <tr>
                        <th>Payment Mode</th>
                        <td>{{item.checkout.get_paymentMode_display}}</td>
                    </tr>
                    {% if item.checkout.rppid %}
                    <tr>
                        <th>RPPID</th>
                        <td>{{item.checkout.rppid}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Total Amount</th>
                        <td>&#8377;{{item.checkout.totalAmount}}</td>
                    </tr>
                    <tr>
                        <th>Shipping Amount</th>
                        <td>&#8377;{{item.checkout.shippingAmount}}</td>
                    </tr>
                    <tr>
                        <th>Final Amount</th>
                        <td>&#8377;{{item.checkout.finalAmount}}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{item.checkout.time}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for cp in item.checkoutProduct %}
                    <tr>
                        <td><img src="{{cp.pic}}" style="height:80px;width:80px;" class="rounded" alt=""></td>
                        <td>{{cp.name}}</td>
                        <td>{{cp.color}}</td>
                        <td>{{cp.size}}</td>
                        <td>&#8377;{{cp.price}}</td>
                        <td>{{cp.qty}}</td>
                        <td>&#8377;{{cp.total}}</td>

                        <td><a href="/single-product/{{item.product.id}}/"><span class="material-symbols-outlined">
                                    add_shopping_cart
                                </span></a></td>
                        <td><a href="/delete-to-wishlist/{{item.id}}/"><span class="material-symbols-outlined">
                                    delete_forever
                                </span></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}